<!DOCTYPE html>
<html>
  <head>
    <title>Fr端hlingserwachen</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    
    <!-- HERO IMAGE -->
    <div class="container branding">
    		<%= image_tag("logo.png", class: "img-responsive col-md-offset-1 col-md-10 col-xs-12 heroimg") %>
    </div>

    <!-- NAV BAR -->
    <div class="main-menu container">
      <nav class="wrapper main-menu sticker" role="navigation">
        <ul class="menu" id="menu-main">
          <li class="menu-item-1" id="nav-about" ><%= link_to "Was wir wollen", static_pages_index_path(anchor: "about")%></li>
          <li class="menu-item-2" id="nav-blog"><%= link_to "Was gerade los ist", static_pages_index_path(anchor: "blog")%></li>
          <li class="menu-item-3" id="nav-bus"><%= link_to "Fr端hst端cksbus", static_pages_index_path(anchor: "bus")%></li>
          <li class="menu-item-4" id="nav-stimmen"><%= link_to "Stimmen", static_pages_index_path(anchor: "stimmen")%></li>
          <li class="menu-item-5" id="nav-contact"><%= link_to "Kontakt", static_pages_index_path(anchor: "contact")%></li>
          <li class="menu-item-6" id="nav-partner"><%= link_to "Partner", static_pages_index_path(anchor: "partner")%></li>
        </ul>
        <script type="text/javascript">
          $("#menu-main").addClass("js").before('<div id="mobile-menu">&#9776; Men端</div>');
          $("#mobile-menu").click(function(){
            $("#menu-main").toggle();
          });
          $(window).resize(function(){
            if(window.innerWidth > 768) {
              $("#menu-main").removeAttr("style");
            }
          });
        </script>
        
        <!-- SMOOTH SCROLLING -->
<!--         <script type="text/javascript">
          var $root = $('html, body');
$('a').click(function() {
    var href = $.attr(this, 'href');
    $root.animate({
        scrollTop: $(href).offset().top
    }, 500, function () {
        window.location.hash = href;
    });
    return false;
});
        </script> -->
    
      </nav>
    </div>

    <!-- CONTENT -->
    <%= yield %>

<!--     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
 -->    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
